.active {
    color: blue;
}

nav {
    background-color: darkgray;
}

.ul {
    display: flex;
}

li {
    list-style: none;
    margin: 1rem 2rem;
}

a {
    text-decoration: none;
    text-transform: none;
    color: black;
}